**/node_modules
**/target
.idea
*.iml
application-dev.yml
.gradle

.log
*.log
node_modules
.vscode
.vite
build
Zap日志输出kafka、文件、console.md
为什么菜单还又权限呢.md
读取表的信息.md
template.go
test.html
viper.md

api/v1/upload/*